<article id="landing" class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    Yr YOLO Schlitz literally, locavore seitan banjo hella letterpress selvage 8-bit distillery tote bag aesthetic irony.
    Banksy farm-to-table mlkshk, sartorial squid Austin cray jean shorts four loko church-key. Brunch synth small batch gluten-free.
  </p>
  <div>
      <button class="btn btn-info sc-btn-block" ng-click="main.goToSlide('garageMap')"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> See other garages</button>
      <button class="btn btn-default sc-btn-block" ng-click="main.goToSlide('addGarage')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add your garage</button>
  </div>
</article>

<article id="garageMap" class="row">
  <h4>Find our garages</h4>
  <div class="row">
    <section class="col-md-8">
      <ui-gmap-google-map center="main.map.center" zoom="main.map.zoom" options="main.mapOptions">
        <ui-gmap-window show="main.map.windowOptions.show" options="main.map.windowOptions" closeClick="main.map.closeInfoWindowClick()" coords="main.map.selected">
          <div class="row">
            <div class="col-md-12">
                <div class="caption">
                  <h2>{{main.map.selected.markerLabel}}</h2>
                  <h4>{{main.map.selected.title}}</h4>
                  <h4>{{main.map.selected.founder}}</h4>
                  <address>
                    <strong>{{main.map.selected.name}}</strong><br>
                    {{main.map.selected.street}}<br/>
                    {{main.map.selected.city}}, {{main.map.selected.postal}}<br/>
                    {{main.map.selected.country}}<br/>
                    <a href="{{main.selectedGarage.homePage}}" target ="new">{{main.map.selected.homePage}}</a>
                  </address>
              </div>
            </div>
          </div>
        </ui-gmap-window>
        <ui-gmap-markers models="main.map.markers" coords="'self'" icon="'icon'"  idKey="'idKey'" click="main.map.openInfoWindowClick">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </section>
    <section class="col-md-4">
      <div class="row" ng-show="main.map.selected">
        <div class="col-md-12">
          <div class="thumbnail">
            <img src="{{main.map.selected.photo}}" alt="{{main.map.selected.markerLabel}}">
            <div class="caption">
              <h2>{{main.map.selected.title}}</h2>
              <h4>{{main.map.selected.founder}}</h4>
              <address>
                <strong>{{main.map.selected.name}}</strong><br>
                {{main.map.selected.street}}<br/>
                {{main.map.selected.city}}, {{main.map.selected.postal}}<br/>
                {{main.map.selected.country}}<br/>
                Home page: <a href="{{main.map.selected.homePage}}" target ="new">{{main.map.selected.homePage}}</a>
              </address>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>

<article id="garageTable" class="row">
  <h4>Our garages</h4>
  <div class="row">
    <div class="col-md-12">
      <table st-table="main.list.garagesCollection" st-safe-src="main.garages" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="name" st-skip-natural="true">Company name</th>
            <th st-sort="founder" st-skip-natural="true">Founders</th>
            <th st-sort="street" st-skip-natural="true">Address</th>
            <th st-sort="city" st-skip-natural="true">City</th>
            <th st-sort="postal" st-skip-natural="true">Postal</th>
            <th st-sort="country" st-skip-natural="true">Country</th>
            <th st-sort="homePage" st-skip-natural="true">Home Page</th>
            <th>Toogle marker</th>
          </tr>
          <tr>
          <th colspan="8">
            <input st-search placeholder="Search" class="input-sm form-control" type="search"/>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr ng-click="main.list.select(garage)" ng-repeat="garage in main.list.garagesCollection">
            <td>{{garage.name}}</td>
            <td>{{garage.founder}}</td>
            <td>{{garage.street}}</td>
            <td>{{garage.city}}</td>
            <td>{{garage.postal}}</td>
            <td>{{garage.country}}</td>
            <td><a href="{{garage.homePage}}" target ="new">{{garage.homePage}}</a></td>
            <td>
              <button type="button" ng-click="main.list.toogleOnMap(garage)" class="btn btn-sm btn-danger">
                <span class="sr-only">{{garage.visible ? "Hide" : "Show"}} on map</span><i class="glyphicon" ng-class="{'glyphicon-eye-close': garage.visible,  'glyphicon-eye-open': !garage.visible}"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8" class="text-center">
              <div st-pagination="" st-items-by-page="main.list.itemsPerPage" st-displayed-pages="main.list.pages">{{main.list.pages}}</div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</article>

<article id="addGarage">
  <h4>Add your garage</h4>
    <form>
      <section class="row">
        <section class="col-sm-12 col-md-8">
          <div class="form-group">
            <label for="garagesInput">Paste your garage</label>
            <textarea id="garagesInput" class="form-control" rows="9" ng-model="main.form.newGarageData"></textarea>
          </div>
        </section>
        <section class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <p class="form-control-static">Select value separator:</p>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4" ng-repeat="separator in main.form.delimiters">
                  <label class="radio-inline">
                    <input type="radio" name="separator" id="separator" value="{{separator.value}}" ng-model="main.form.delimiter"> {{separator.name}} ({{separator.value}})
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="form-control-static">Select longitude column:</p>
              <select class="form-control" name="longColumn" id="longColumn" ng-model="main.form.columnIdx.longColumn" ng-options="main.form.columns.indexOf(column) as column for column in main.form.columns">
              </select>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">Select latitude column:</p>
              <select class="form-control" name="latColumn" id="latColumn" ng-model="main.form.columnIdx.latColumn" ng-options="main.form.columns.indexOf(column) as column for column in main.form.columns">
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="form-control-static">Select marker column:</p>
              <select class="form-control" name="longColumn" id="longColumn" ng-model="main.form.columnIdx.markerLabelColumn" ng-options="main.form.columns.indexOf(column) as column for column in main.form.columns">
              </select>
            </div>
          </div>
        </section>
      </section>
      <section class="row">
        <div class="col-md-12 action-row">
          <button id="initGarageBtn" name="initGarageBtn" class="btn btn-success btn-xlg sc-btn-block btn-submit" ng-click="main.form.initGarage()">Init</button>
          <button id="processGarageBtn" name="processGarageBtn" class="btn btn-success btn-xlg sc-btn-block btn-submit" ng-click="main.form.processGarage()" ng-disabled="main.form.disableSubmit">Submit</button>
        </div>
      </section>
    </form>
  </div>
</article>
