/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  .footer {
    margin-top: 30px;
  }
}

.sc-btn-block+.sc-btn-block {
  margin-left: 15px;
}

@media screen and (max-width: 600px){
  .sc-btn-block {
    width: 100%;
    display: block;
  }
  .sc-btn-block+.sc-btn-block {
    margin-top: 5px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px){
  .footer {
    margin-top: 10px;
  }

  .header {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 960px){
  .container {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.angular-google-map-container {
  height: 500px;
}

@media screen and (min-width: 768px){
  .angular-google-map-container {
    height: 550px;
  }
}

.action-row {
  text-align: center;
}

.btn-xlg {
  font-size: 21px;
  padding: 14px 24px;
}

.btn-submit {
  margin-top: 5px;
  margin-bottom: 5px;
}

article {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

article > h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 25px;
}
.lead {
  line-height: 1.8em;
}
