<article id="landing" class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    Yr YOLO Schlitz literally, locavore seitan banjo hella letterpress selvage 8-bit distillery tote bag aesthetic irony.
    Banksy farm-to-table mlkshk, sartorial squid Austin cray jean shorts four loko church-key. Brunch synth small batch gluten-free.
  </p>
  <div>
      <button class="btn btn-info sc-btn-block" ng-click="main.goToSlide('garageMap')"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> See other garages</button>
      <button class="btn btn-default sc-btn-block" ng-click="main.goToSlide('addGarage')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add your garage</button>
  </div>
</article>

<article id="garageMap" class="row">
  <h4>Find our garages</h4>
  <div class="row">
    <div class="col-md-8">
      <ui-gmap-google-map center="main.map.center" zoom="main.map.zoom" options="main.mapOptions">
        <ui-gmap-window show="main.windowOptions.show" options="main.windowOptions" closeClick="main.closeInfoWindowClick()" coords="main.selectedMarker" isIconVisibleOnClick="false">
          <div class="row">
            <div class="col-md-12">
                <div class="caption">
                  <h2>{{main.selectedGarage.markerLabel}}</h2>
                  <h4>{{main.selectedGarage.title}}</h4>
                  <h4>{{main.selectedGarage.founder}}</h4>
                  <address>
                    <strong>{{main.selectedGarage.name}}</strong><br>
                    {{main.selectedGarage.street}}<br/>
                    {{main.selectedGarage.city}}, {{main.selectedGarage.postal}}<br/>
                    {{main.selectedGarage.country}}<br/>
                    <a href="{{main.selectedGarage.homePage}}" target ="new">{{main.selectedGarage.homePage}}</a>
                  </address>
              </div>
            </div>
          </div>
        </ui-gmap-window>
        <ui-gmap-markers models="main.garageMarkers" coords="'self'" icon="'icon'"  idKey="'idKey'" click="main.openInfoWindowClick">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <div class="col-md-4">
      <div class="row">

      </div>
      <div class="row" ng-show="main.selectedGarage">
        <div class="col-md-12">
          <div class="thumbnail">
            <img src="{{main.selectedGarage.photo}}" alt="{{main.selectedGarage.markerLabel}}">
            <div class="caption">
              <h2>{{main.selectedGarage.title}}</h2>
              <h4>{{main.selectedGarage.founder}}</h4>
              <address>
                <strong>{{main.selectedGarage.name}}</strong><br>
                {{main.selectedGarage.street}}<br/>
                {{main.selectedGarage.city}}, {{main.selectedGarage.postal}}<br/>
                {{main.selectedGarage.country}}<br/>
                Home page: <a href="{{main.selectedGarage.homePage}}" target ="new">{{main.selectedGarage.homePage}}</a>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<article id="garageTable" class="row">
  <h4>Our garages</h4>
  <div class="row">
    <div class="col-md-12">
      <table st-table="main.garagesCollection" st-safe-src="main.garages" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="name" st-skip-natural="true">Company name</th>
            <th st-sort="founder" st-skip-natural="true">Founders</th>
            <th st-sort="street" st-skip-natural="true">Address</th>
            <th st-sort="city" st-skip-natural="true">City</th>
            <th st-sort="postal" st-skip-natural="true">Postal</th>
            <th st-sort="country" st-skip-natural="true">Country</th>
            <th st-sort="homePage" st-skip-natural="true">Home Page</th>
            <th>Toogle marker</th>
          </tr>
          <tr>
          <th colspan="8">
            <input st-search placeholder="Search" class="input-sm form-control" type="search"/>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr st-select-row="garage" st-select-mode="single" ng-repeat="garage in main.garagesCollection">
            <td>{{garage.name}}</td>
            <td>{{garage.founder}}</td>
            <td>{{garage.street}}</td>
            <td>{{garage.city}}</td>
            <td>{{garage.postal}}</td>
            <td>{{garage.country}}</td>
            <td><a href="{{garage.homePage}}" target ="new">{{garage.homePage}}</a></td>
            <td>
              <button type="button" ng-click="main.toogleOnMap(garage)" class="btn btn-sm btn-danger">
                <span class="sr-only">{{garage.visible ? "Hide" : "Show"}} on map</span><i class="glyphicon" ng-class="{'glyphicon-eye-close': garage.visible,  'glyphicon-eye-open': !garage.visible}"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8" class="text-center">
              <div st-pagination="" st-items-by-page="main.itemsPerPage" st-displayed-pages="main.pages">{{main.pages}}</div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</article>

<article id="addGarage">
  <h4>Add your garage</h4>
    <form>
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="form-group">
          <label for="garagesInput">Paste your garage</label>
          <textarea id="garagesInput" class="form-control" rows="9" ng-model="main.newGarageData"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <p class="form-control-static">Select value separator:</p>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label class="radio-inline">
                  <input type="radio" name="separator" id="separator" value="," ng-model="main.garageDataDelimiter"> Comma (,)
                </label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <label class="radio-inline">
                  <input type="radio" name="separator" id="separator" value=";" ng-model="main.garageDataDelimiter"> Semi-colon (;)
                </label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <label class="radio-inline">
                  <input type="radio" name="separator" id="separator" value="<TAB>" ng-model="main.garageDataDelimiter"> Tab (&lt;TAB&gt;)
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="form-control-static">Select longitude column:</p>
            <select class="form-control" name="longColumn" id="longColumn" ng-model="main.longColumn" ng-options="main.columns.indexOf(column) as column for column in main.columns">
            </select>
          </div>
          <div class="col-md-6">
            <p class="form-control-static">Select latitude column:</p>
            <select class="form-control" name="latColumn" id="latColumn" ng-model="main.latColumn" ng-options="main.columns.indexOf(column) as column for column in main.columns">
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="form-control-static">Select marker column:</p>
            <select class="form-control" name="longColumn" id="longColumn" ng-model="main.markerLabelColumn" ng-options="main.columns.indexOf(column) as column for column in main.columns">
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 action-row">
        <button id="initGarageBtn" name="initGarageBtn" class="btn btn-success btn-xlg sc-btn-block btn-submit" ng-click="main.initGarage()">Init</button>
        <button id="processGarageBtn" name="processGarageBtn" class="btn btn-success btn-xlg sc-btn-block btn-submit"ng-click="main.processGarage()" ng-disabled="main.disableSubmit">Submit</button>
      </div>
    </div>
    </form>
  </div>
</article>
